@import '../../components/layout/sass/libs/vars';
@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');

.video {
    width : 100%;
    margin: auto;
    height: 100vh;
}

// .genteFaz {
//     height          : 100ch;
//     background-color: #24a0dc;
//     display         : flex !important;
//     justify-content : end;
//     align-items     : flex-end;
// }

.noPadding {
    padding: 0;
}

.segmento {
    width        : 40%;
    // box-shadow: 1px 1px 10px black;
    border-radius: 50%;
}

.headervideo {
    background-image   : url('../../images/home/TOPO_SEM_LETRA.gif');
    background-position: center right;
    background-size    : cover;
    height             : 100%;
    margin             : 0;
    padding            : 0;

    >div {
        background-image   : url('../../images/SOMOSLEOES.png');
        background-position: center right;
        background-size    : cover;
        height             : 100%;
        margin             : 0;
        padding            : 0;
    }
}

#gentefaz {
    background-color   : black;
    color              : $claro;
    padding            : 1% 5% 1% 3%;
    min-height         : 100%;
    // align-self      : stretch;
    // vertical-align  :  middle;
    height             : 100%;
    display            : flex;


    >div {
        max-width           : 1320px;
        margin              : auto;
        // align-items      : center;  
        // vertical-align   :  middle; 



        #manifesto {
            // position: relative;
            padding    : 3% 5%;
            border     : 8px solid $claro;
            z-index    : 0;
        }

        #resumo {
            position        : relative;
            text-align      : right;
            align-self      : center;
            z-index         : 1;
            right           : -50px;
            background-color: black;
            height          : 100%;
            justify-items   : flex-end;
            width           : 100%;

            h2 {
                position         : relative;
                font-size        : 4em;
                color            : $azul;
                line-height      : 0.4em;
                font-family      : 'Anton', sans-serif;
                letter-spacing   : 5px;
                visibility       : hidden;
                // display       : none;  
            }

            .LIVE {
                -webkit-animation: live 5s step-end infinite;
                animation        : live 5s step-end infinite;
            }

            .PROMO {
                -webkit-animation: promo 5s step-end infinite;
                animation        : promo 5s step-end infinite;
            }

            .BRAND {
                -webkit-animation: brand 5s step-end infinite;
                animation        : brand 5s step-end infinite;
            }

            .DIGITAL {
                -webkit-animation: digital 5s step-end infinite;
                animation        : digital 5s step-end infinite;
            }

            .DEV {
                -webkit-animation: dev 5s step-end infinite;
                animation        : dev 5s step-end infinite;
            }

            h1 {
                // background-color: blue;
                text-align         : right;
                position           : absolute;
                font-size          : 10em;
                color              : $rosa;
                font-weight        : bold;
                font-family        : 'Anton', sans-serif;
                line-height        : 0.9em;
                font-kerning       : 1.5em;
                z-index            : 2;
                letter-spacing     : 15px;
                visibility         : hidden;
                // display         : none;
                -webkit-animation  : faz 5s step-end infinite;
                animation          : faz 5s step-end infinite;
                right              : -50px;
                width              : 100%;
            }

            @-webkit-keyframes live {
                0% {
                    visibility: visible;
                }

                10% {
                    visibility: hidden;
                }
            }

            @keyframes live {
                0% {
                    visibility: visible;
                }

                10% {
                    visibility: hidden;
                }
            }

            @-webkit-keyframes promo {
                10% {
                    visibility: visible;
                }

                20% {
                    visibility: hidden;
                }
            }

            @keyframes promo {
                10% {
                    visibility: visible;
                }

                20% {
                    visibility: hidden;
                }
            }

            @-webkit-keyframes brand {
                20% {
                    visibility: visible;
                }

                30% {
                    visibility: hidden;
                }
            }

            @keyframes brand {
                20% {
                    visibility: visible;
                }

                30% {
                    visibility: hidden;
                }
            }

            @-webkit-keyframes digital {
                30% {
                    visibility: visible;
                }

                40% {
                    visibility: hidden;
                }
            }

            @keyframes digital {
                30% {
                    visibility: visible;
                }

                40% {
                    visibility: hidden;
                }
            }

            @-webkit-keyframes dev {
                30% {
                    visibility: visible;
                }

                40% {
                    visibility: hidden;
                }
            }

            @keyframes dev {
                40% {
                    visibility: visible;
                }

                50% {
                    visibility: hidden;
                }
            }

            @-webkit-keyframes faz {
                30% {
                    visibility: visible;
                }

                40% {
                    visibility: hidden;
                }
            }

            @keyframes faz {
                50% {
                    visibility: visible;
                }

                100% {
                    visibility: hidden;
                }
            }








        }
    }
}

* {
    box-sizing: border-box;
}

#versinho {
    // background-image           : url('../../images/Leão-1900x9002.jpg');
    // background-position        : center center;
    // background-size            : cover;
    // height                     : 100vh;
    // background-attachment      : fixed;
    // display                    : flex;
    // position                   : relative;
    // display                    : block;
    // position                   :  relative;

    // >div {

    // color        : white;
    // align-self   : center;

    // position: relative;
    // top     : 40%;
    // left    : 50%;

    // transform      : translate(-30%, -30%) perspective(100px) rotateY(10deg) rotateX(5deg);
    // transform-style: preserve-3d;

    // >h3 {
    // text-align    : center;
    // font-size     : 2em;
    // font-weight   : 900;
    // font-family   : 'Raleway', sans-serif;
    // }

    // }


    //     .parallax {
    // // display            : block;
    //         perspective   : 200px;
    //         height        : 100vh;
    //         overflow-x    : hidden;
    //         overflow-y    : auto;
    //         position      : absolute;
    //         top           : 0;
    //         // left       : 0;
    //         // right      : 0;
    //         bottom        : 0;
    //         width         : 100%;
    //         // margin-left: -1500px;
    //       }

    //       .parallax__layer{
    //         position: relative;
    //         // top  : 0;
    //         // right: 0;
    //         bottom  : 0;
    //         // left : 0;

    //         img{
    //           display : block;
    //           position: absolute;
    //           bottom  : 0;
    //           width   : 100%;
    //         }

    //         div {
    //             // display : block;
    //         //   position  : absolute;
    //           bottom       : 0;
    //         //   text-align: center;
    //         width          : 100%;
    //         padding        : 5%;
    //         // height      : 100%;

    //           h3 {
    //               color     : black;
    //               text-align:  center;
    //             font-family : 'Raleway', sans-serif;
    //             // font-size: 0.5em;
    //           }
    //         }
    //       }

    //       .parallax__cover{
    //         background: #2D112B;
    //         display   : block;
    //         position  : absolute;
    //         width     : 100%;
    //         bottom    : 0;
    //         // top    : 0;
    //         // left   : 0;
    //         // right  : 0;
    //         height    : 50vh;
    //         z-index   : 2;
    //       }

    //       $parallax__layers:5;

    //       @for $i from 0 through $parallax__layers {
    //         $x: ($parallax__layers - $i) / 2;
    //         .parallax__layer__#{$i}{
    //            transform: translateZ(-100 * $x#{px}) scale($x + 1);
    //         }
    //       }

    .wrapper {
        /* O elemento precisa ter uma altura definida para o efeito
        funcionar.
           100vh significa 100% da altura da view.
        */
        height: 120vh;

        /* O tamanho das imagens irá criar uma barra de rolagem 
        horizontal. Iremos desativar isso */
        overflow-x: hidden;
        overflow-y: hidden;

        /* A propriedade perspective indica a "distância" entre o 
        usuário e o plano Z.
        Quanto maior o valor, mais perto o elemento estará do usuário.
        Se for um valor negativo,
        mais distante esse elemento estará.
        */
        perspective: 100px;

        /* O transform-style indica se os elementos filhos devem ser 
        transformados em um plano 2D ou 3D.
        O valor preserve-3d indica que os elementos devem seguir o 
        espaço 3D indicado.
        */
        transform-style: preserve-3d;
    }



    .section {
        /* Indicamos "relative" para depois podermos
        posicionar os elementos filhos com "absolute" */
        position: relative;

        /* Indicamos uma altura para a nossa seção. O valor não 
        importa muito.
        Para garantir um bom efeito, coloquei também uma altura 
        mínima de 700px;
        */
        height       : 100vh;
        // min-height: 500px;

        /* Para manter a transformação em espaço 3D, indicamos o mesmo 
        valor do elemento pai (preserve-3d).
        Para não precisar repetir o valor "preserve-3d", você pode usar 
        o valor "inherit", que fará
        com que ele pegue o valor do elemento pai.
        */
        transform-style: inherit;
    }

    .section::before {
        /* Aqui nós iremos configurar a imagem que irá aparecer no fundo
        da seção.
        Como vimos, o Parallax precisa de elementos diferentes, então 
        não daria certo se colocássemos o fundo diretamente na 
        <section>. Então criaremos um pseudo-elemento para isso.
        */

        /* Isso servirá para que o pseudo-elemento possua as mesmas
        dimensões do elemento <section> */
        content  : " ";
        position : absolute;
        top      : 0;
        right    : 0;
        bottom   : 0;
        left     : 0;
        // height: 100%;
        /* O z-index negativo irá garantir que a imagem não fique por 
        cima de outros elementos */
        z-index: -1;

        /* Aqui estamos fazendo com que a imagem de fundo cubra todo o
        elemento */
        background-image   : url('../../images/paralax/Ilustração_Prancheta 1 cópia 4.svg');
        background-size    : cover;
        background-repeat  : no-repeat;
        background-position: center bottom;

        /* Aqui está a brincadeira. Lembra que o nosso "wrapper" está
        mais próximo do usuário?
        Aqui nós faremos com que o nosso pseudo-elemento, que está com
        a imagem de fundo, fique mais longe do usuário. Para isso, 
        basta passar um valor negativo para "translateZ()".
        
        Como a imagem irá para longe do usuário, ela parecerá menor. 
        Então usamos o "scale()" para aumentar o tamanho da imagem.
        
        Como o elemento estará mais longe do usuário, ele irá se mover
        mais lentamente do que os elementos mais próximos conforme 
        a gente role a página.
        */
        transform: translateZ(-1px) scale(1.5);
    }

    .text {
        /* Essa classe, como dito antes, é só para o nosso conteúdo.
        Sinta-se livre para criar o que quiser.
        */
        position: absolute;

        width              : 100%;
        padding            : 0 0;
        // background-color: rgba(255, 255, 255,0.5);


        // text-shadow: 0 0 5px #000;
        // font-size  : 20px;



        >h3 {
            top        : 0;
            text-align : center;
            color      : black;
            font-family: 'Raleway', sans-serif;
            font-size  : 2em;
            font-weight: 900;
        }

        >img {
            bottom: 0;
        }
    }



}