.video {
    width: 100%;
    margin: auto;
    height: 100vh;
}

// .genteFaz {
//     height: 100ch;
//     background-color: #24a0dc;
//     display: flex !important;
//     justify-content: end;
//     align-items: flex-end;
// }

.noPadding {
    padding: 0;
}

.segmento {
    width: 40%;
    // box-shadow: 1px 1px 10px black;
    border-radius: 50%;
}

.headervideo {
    background-image: url('../../images/home/TOPO_SEM_LETRA.gif');
    background-position:  center right;
    background-size:  cover;
    height: 100%;
    margin: 0;
    padding: 0;

    >div {
        background-image: url('../../images/SOMOSLEOES.png');
        background-position:  center right;
        background-size:  cover;
        height: 100%;
        margin: 0;
    padding: 0;
    }
}