@import './libs/vars';
@import './libs/animation.scss';
@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One&display=swap');

// Breakpoints.

// @include breakpoints((xlarge: (1141px, 1680px),
// 		large: (981px, 1140px),
// 		medium: (737px, 980px),
// 		small: (481px, 736px),
// 		xsmall: (321px, 480px),
// 		xxsmall: (null, 320px)));

ol,
ul {
	list-style: none;
}

body {
	color: $claro;
	background     : linear-gradient(139deg, #000000, #303030);
	font-family: 'Raleway';
}

a {
	color: $claro;
	text-decoration: 1px dotted $claro;
}

[data-scroll] {
	transition: opacity 1s;
  }
  [data-scroll="in"] {
	opacity: 1;
  }
  [data-scroll="out"] {
	opacity: 0;
  }

h1, h2, h3, h4, h5, h6 {
	font-family: 'Julius Sans One';
	letter-spacing: 3px;
}

section {
    height: 100vmin;
}
