.local {
    text-align:  center;
    width: 100%;

    > i {
        font-size: 2.5em;
        padding: 0.4em;
        text-shadow: 0 0 10px black;
    }

    > h3, p {
        text-shadow: 1px 1px 5px black;
    }
}

.phone {
    text-align:  center;
    width: 100%;

    > i {
        font-size: 2.5em;
        padding: 0.4em;
        text-shadow: 0 0 10px black;
    }

    > h3, p {
        text-shadow: 1px 1px 5px black;
    }
}

.mail {
    text-align:  center;
    width: 100%;

    > i {
        font-size: 2.5em;
        padding: 0.4em;
        text-shadow: 0 0 10px black;
    }

    > h3, p {
        text-shadow: 1px 1px 5px black;
    }
}