@import "../../style/_colors";

@mixin pageContentPropMobile($imgPosition, $colorFont) {
  >a>img {
    width          : 100%;
    height         : 100%;
    object-fit     : cover;
    object-position: $imgPosition;
  }

  >a>video {
    width          : 100%;
    height         : 100%;
    object-fit     : cover;
    object-position: $imgPosition;
  }

  >a>.content {
    position       : absolute;
    width          : 100%;
    height         : 100%;
    display        : flex;
    justify-content: flex-start;
    align-items    : flex-end;
  }

  >a>.content>.title {
    padding   : 20px 0;
    text-align: center;
  }

  >a>.content>.title>h1 {
    padding       : 0;
    margin-bottom : 0;
    font-weight   : 900;
    text-transform: uppercase;
    font-size     : 48px;
    line-height   : 1em;
    color         : $colorFont;
    text-shadow   : 0 3px 5px $color-black-opacity;
  }

  >a>.content>.title>a {
    letter-spacing  : .15em;
    font-size       : 1em;
    line-height     : 2.8em;
    text-transform  : uppercase;
    text-decoration : none;
    font-weight     : 600;
    background-color: $color-pink;
    color           : $color-white;
    cursor          : pointer;
    padding         : 5px 10px;
    border          : none;
  }
}

@mixin pageContentPropDesktop() {
  >img {
    width: 100%;
  }

  >video {
    width: 100%;
  }

  >.content {
    position       : absolute;
    width          : 100%;
    height         : 100%;
    display        : flex;
    justify-content: flex-start;
    align-items    : flex-end;
  }

  >.content>.title {
    padding   : 30px 40px;
    text-align: left;
  }

  >.content>.title>h1 {
    font-size: calc(80px + 1vw);
  }

  >.content>.title>a {
    background-color: transparent;
    color           : $color-pink;
    cursor          : pointer;
    padding         : 5px 10px;
  }
}

html,
body {
  margin  : 0 !important;
  height  : 100% !important;
  width   : 100% !important;
  overflow: hidden !important;
}

.page-content,
a {
  width     : 100%;
  height    : 100%;
  display   : flex;
  transition: all 0.5s ease;

  // > a {
  //   width     : 100%;
  // height      : 100%;
  // display     : flex;
  // transition  : all 0.5s ease;
  // }
}

.LogoContainer {
  position       : absolute;
  width          : 100%;
  height         : 100%;
  display        : flex;
  justify-content: center;
  align-items    : center;

  >img {
    width: 100%;
  }
}

.BgOpacity {
  position        : absolute;
  width           : 100%;
  height          : 100%;
  background-color: black;
  opacity         : 0.7;
}

.BgOpacity+.LogoContainer {
  >img {
    max-width: 280px;
    width    : 100%;
  }
}

#home {
  @include pageContentPropMobile(center, white);
}

#portifolio1 {
  @include pageContentPropMobile(center, $color-black);
}

#portifolio2 {
  @include pageContentPropMobile(center, $color-white);
}

#portifolio3 {
  @include pageContentPropMobile(center, $color-white);
}

.contato {
  background-color: yellow;
}


//GRID SYSTEM
.col-12 {
  flex     : 0 0 100%;
  max-width: 100%;
}

@media screen and (min-width: 768px) {
  #home {
    @include pageContentPropDesktop();
  }

  #portifolio1 {
    @include pageContentPropDesktop();
  }

  #portifolio2 {
    @include pageContentPropDesktop();
  }

  #portifolio3 {
    @include pageContentPropDesktop();
  }

  .BgOpacity+.LogoContainer {
    >img {
      max-width: 400px;
      width    : 50%;
    }

    //>.starbucks{
    //  width: 28% !important;
    //}
  }

  //GRID SYSTEM
  .col-md-4 {
    flex     : 0 0 33.333333%;
    max-width: 33.333333%;
  }
}

#videoport {
  // position : fixed;
  top         : 50%;
  left        : 50%;
  min-width   : 100%;
  min-height  : 100%;
  width       : auto;
  height      : auto;
  // z-index  : -100;
  // transform: translateX(-50%) translateY(-50%);
  object-fit  : cover;
}

#videologo {
  // position : fixed;
  // top      : 50%;
  // left     : 50%;
  min-width   : 100%;
  min-height  : 100%;
  width       : auto;
  height      : auto;
  // z-index  : -100;
  // transform: translateX(-50%) translateY(-50%);
  object-fit  : cover;
}

.Segmentos {
  position       : absolute;
  width          : 100%;
  height         : 100%;
  display        : flex;
  justify-content: center;
  align-items    : center;

  h2 {
    position         : absolute;
  //   top: 50%;
  // right: 50%;
    font-size           : 4em;
    color               : white;
    font-family         : 'Anton', sans-serif;
    visibility       : hidden;
    // display          : none;  
  }

  .LIVEh {
    -webkit-animation: live 7s step-end infinite;
    animation        : live 7s step-end infinite;
  }

  .PROMOh {
    -webkit-animation: promo 7s step-end infinite;
    animation        : promo 7s step-end infinite;
  }

  .BRANDh {
    -webkit-animation: brand 7s step-end infinite;
    animation        : brand 7s step-end infinite;
  }

  .DIGITALh {
    -webkit-animation: digital 7s step-end infinite;
    animation        : digital 7s step-end infinite;
  }

  .DEVh {
    -webkit-animation: dev 7s step-end infinite;
    animation        : dev 7s step-end infinite;
  }

  @-webkit-keyframes live {
    0% {
      visibility: visible;
    }

    10% {
      visibility: hidden;
    }
  }

  @keyframes live {
    0% {
      visibility: visible;
    }

    10% {
      visibility: hidden;
    }
  }

  @-webkit-keyframes promo {
    10% {
      visibility: visible;
    }

    20% {
      visibility: hidden;
    }
  }

  @keyframes promo {
    10% {
      visibility: visible;
    }

    20% {
      visibility: hidden;
    }
  }

  @-webkit-keyframes brand {
    20% {
      visibility: visible;
    }

    30% {
      visibility: hidden;
    }
  }

  @keyframes brand {
    20% {
      visibility: visible;
    }

    30% {
      visibility: hidden;
    }
  }

  @-webkit-keyframes digital {
    30% {
      visibility: visible;
    }

    40% {
      visibility: hidden;
    }
  }

  @keyframes digital {
    30% {
      visibility: visible;
    }

    40% {
      visibility: hidden;
    }
  }

  @-webkit-keyframes dev {
    30% {
      visibility: visible;
    }

    40% {
      visibility: hidden;
    }
  }

  @keyframes dev {
    40% {
      visibility: visible;
    }

    50% {
      visibility: hidden;
    }
  }

  @-webkit-keyframes faz {
    30% {
      visibility: visible;
    }

    40% {
      visibility: hidden;
    }
  }

  @keyframes faz {
    50% {
      visibility: visible;
    }

    100% {
      visibility: hidden;
    }
  }

}
