.card_case {
    position: relative;
    padding : 20px;

    >img {
        width  : 100%;
        margin : 0;
        display: flex;
    }

    .overlay {
        position        : absolute;
        margin          : 20px;
        top             : 0;
        bottom          : 0;
        left            : 0;
        right           : 0;
        opacity         : 0;
        transition      : .5s ease;
        background-color: rgba(0, 0, 0, 0.7);
        display: flex;
        justify-content: center;
        align-items: center;

        > span {
            font-size     : 22px;
            color: white;
        }
    }
}

.card_case:hover .overlay {
    opacity: 1;
}
